<aside id="admin-sidebar" class="sidebar">
    <div class="sidebar-logo">
        <i class="fa-solid fa-bolt" style="margin-right: 10px;"></i>
        <span>APOKALYPSY</span>
    </div>
    
    <div class="sidebar-menu">
        <span class="menu-label">Menu Principal</span>
        <a href="dashboard_admin.html" class="nav-link" id="link-dashboard">
            <i class="fa-solid fa-gauge-high"></i>
            <span>Tableau de bord</span>
        </a>
        
        <span class="menu-label">Contenu & Membres</span>
        <a href="gestion_utilisateurs.html" class="nav-link" id="link-users">
            <i class="fa-solid fa-user-gear"></i>
            <span>Utilisateurs</span>
        </a>
        <a href="gestion_articles.html" class="nav-link" id="link-articles">
            <i class="fa-solid fa-newspaper"></i>
            <span>Articles</span>
        </a>
    </div>
</aside>
